body{
    width: 80%;
    margin-top: 30px;
}
#navbar{
   background-color: black;
   color: white;
   display: grid;
   grid-template-columns: repeat(3,1fr);
   grid-template-rows: repeat(auto);
   gap: 10px;
   justify-content: center;
}
#navbar>div{
   margin: auto;
   padding: 10px 0px;
}
.navmain>ul{
    display: flex;
    gap: 20px;
    list-style: none;
}
#navbar>div>button{
    border-radius: 20px;
    background: skyblue;
}